*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Magra'sans-serif;
}
body{
   font-family: 'Anahein',sans-serif;
   background-color: var(--light-color-acento-3);
   display: flex;
   flex-direction: column;
   gap: 10px;
   max-width: 400px;
   justify-content: center;
   align-items: center;
   min-height: 100hv;
   margin: 0;
   padding:20px;
}
.container{
   background-color: var(--light-color-fondo);
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0px 4px 15px rgba(0,0,0,0.43);
   width: 100%;
   max-width: 400px;
   text-align: center;
}
h1{
   color: var(--light-color-texto);
   text-align: center;
   margin-bottom:20px ;
   font-size: 2rem;
}
p{
   color: var(--light-color-texto);
   border-bottom: 2px solid var(--light-color-acento-2);
   margin:1.4rem ;
}
.grupo-input{
   margin-top: 0;
   text-align: center;
}
.formContraseñaOlvidada{
   width: 100%;
   max-width: 400px;
   padding: 0 20px;

}
.grupo-input label{
   display: flex;
   margin-bottom: 5px;
   padding: 5px 10px;
   font-weight: bold;
   color: var(--light-color-texto);
   cursor: pointer;
}
label:hover{
   color: var(--light-color-acento-2);
}
.grupo-input input{
   width: 300px;
   margin-top: 10px;
   padding: 10px 15px;
   border: 1px solid #81b29a;
   border-radius: 6px;
   font-size: 16px;
   cursor: pointer;
}
.cajaBotonEnviar .btnEnviarEnlace{
   background-color: #ff9f1c;
   color: var(--light-color-texto);
   padding: 10px 15px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   width: 100%;
   margin-top: 10px;
}
.cajaBotonEnviar:hover{
   background-color: var(--light-color-acento-1);
}
a{
   display: inline-block;
   margin-top: 20px;
   color: blue;
   text-decoration: none;
}
a:hover{
   color: var(--light-color-acento-1);
}
@media(max-width:600px){
   .container{
      padding: 20px 15px;
   }
   h1{
      font-size: 1.2rem;
      margin-bottom: 20px;
   }
   .grupo-input input, .cajaBotonEnviar, .btnEnviarEnlace{
      padding: 10px;
      font-size: 15px;
   }
   a{
      margin-top: 15px;
      font-size: 0.9rem;
   }
}

 
 