*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Hind", sans-serif;
}

body{
   background-color: #fff0f5;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
}

.recuperar-section{
   background: white;
   max-width: 400px;
   width: 100%;
   padding: 30px;
   border-radius: 10px;
   border: 1px solid #81b29a;
   box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
   text-align: center;
}


h1{
   font-family: "Magra", sans-serif;
   font-size: 2rem;
   font-weight: 700;
   color: #333;
   margin-bottom: 15px;
}

p{
   color: #333;
   font-size: 1rem;
   margin-bottom: 20px;
   padding-bottom: 10px;
}

form{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}
.grupo-input label{
   width: 100%;
   text-align: left;
   font-weight: 600;
   margin-bottom: 5px;
   color: #333;
}

.grupo-input input{
   width: 100%;
   background: white;
   border: 1px solid #81b29a;
   border-radius: 6px;
   padding: 12px;
   margin-bottom: 20px;
   font-size: 16px;
}

.btnEnviarEnlace{
   width: 100%;
   padding: 12px;
   font-size: 16px;
   border-radius: 6px;
   border: none;
   background-color: #81b29a;
   color: white;
   font-weight: 600;
   cursor: pointer;
}

.btnEnviarEnlace:hover{
   filter: brightness(85%);
}

.link-volver{
   margin-top: 20px;
   display: block;
   color: #ff3c38;
   text-decoration: none;
   font-weight: 600;
}

.link-volver:hover{
   color: #ff3c38;
   text-decoration: underline;
}

.mensaje-error{
    color: #ff3c38;
    font-size: 0.9rem;
    margin-top: 5px;
    height: 18px; 
}

.input-invalido{
    border: 2px solid #ff3c38;
}

.btnDeshabilitado{
    background-color: gray ;
    cursor:auto;
    filter: none ;
}